:root {
  --theme-color: #00ba74;
  --accent-color: #252c41;
}
html, body, #root {
  /* background-color: #f7f9fc !important; */
  background-color: #f8f7fc !important;
}
.bg-accent {
  background-color: var(--accent-color) !important;
}
.bg-theme {
  background-color: var(--theme-color) !important;
}

.text-theme {
  color: var(--theme-color) !important;
}
.text-accent {
  color: var(--accent-color) !important;
}

.text-shadow {
  text-shadow: 4px 9px 15px #110805 !important;
}
.link {
  cursor: pointer !important;
}

.ant-notification {
  z-index: 100 !important;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu div {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
