:root {
  --theme-color: #00ba74;
  --accent-color: #252c41;
}

.bg-accent {
  background-color: var(--accent-color) !important;
}
.bg-theme {
  background-color: var(--theme-color) !important;
}
.text-shadow {
  text-shadow: 4px 9px 15px #110805 !important;
}

.icon-btn {
  display:block;
  height: 50px;
  width: 50px;
  border-radius: 50% !important;
  border: 1px solid var(--theme-color);
}