:root {
  --theme-color: #00ba74;
  --accent-color: #252c41;
}

.bg-accent {
  background-color: var(--accent-color) !important;
}
.bg-theme {
  background-color: var(--theme-color) !important;
}

.text-theme {
  color: var(--theme-color) !important;
}
.text-accent {
  color: var(--accent-color) !important;
}

.text-shadow {
  text-shadow: 4px 9px 15px #110805 !important;
}
